<!DOCTYPE html>
{% load static %}
<html lang="ko">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no"/>
        <title>push-notification</title>
        <!-- jquery -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <!-- base css -->
        <link rel="stylesheet" href="{% static 'base/css/base.css' %}" />
        <!-- bootstrap -->
        <script defer src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.1.3/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.1.3/css/bootstrap.min.css"/>
    </head>
    <body>
        <div class="d-flex container-fluid justify-content-center">
            <a class="notification" href="{% url 'notifications:list' %}">
                <img class="alarm" src="{% static 'base/img/alarm.svg' %}" alt="">
                {% if room_name != null %}
                <span class="badge" id="notification-badge">{{ notification_count }}</span>
                {% endif %}
            </a>
        </div>
        {{ room_name|json_script:"room-name" }}
        <script>
            const roomName = JSON.parse(document.getElementById('room-name').textContent);
            
            const notificationSocket = new WebSocket(
                "ws://"
                + window.location.host
                + "/ws/notification/"
                + roomName
                + "/"
            );
            console.log(notificationSocket);
            notificationSocket.onmessage = function(e) {
                const data = JSON.parse(e.data);
                console.log(data);
                const notificationCount = document.getElementById("notification-badge").innerHTML = parseInt(document.getElementById("notification-badge").innerHTML) + 1;
            };
            
            notificationSocket.onclose = function(e) {
                console.error("Chat socket closed unexpectedly");
            };
            
        </script>
    </body>
</html>
